<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="display: flex; justify-content: center; align-content: center; font-size: 30pt;">Forum Post</h1>
    <hr>

    <!-- Title -->
    <h2 th:text="${post.title}"></h2>

    <!-- Content -->
    <p th:text="${post.content}"></p>

    <!-- Comments -->
    <hr>

    <!-- Add Comment -->
    <a th:href="@{/createComment/{postID}(postID=${post.postID})}">
        <button>Add Comment</button>
    </a>

    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th> </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="comment: ${Comments}">
                <td th:text="${comment.authorID != 0 ? forumPostFormController.getAuthorUsername(comment.authorID) : 'Unknown'}">comment_author</td>
                <td th:text="${comment.content}">content</td>
                <td>
                    <div th:if="${comment.authorID == userID}">
                        <a th:href="@{/editComment/{commentID}(commentID=${comment.commentID})}">
                            <button style="background-color: lightgreen">Edit</button>
                        </a>
                        <a th:href="@{/deleteComment/{commentID}(commentID=${comment.commentID})}">
                            <button style="background-color: lightcoral">Delete</button>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>
    <!-- Back to Home -->
    <a th:href="@{/home}">
        <button>Back</button>
    </a>
</body>
</html>