<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 40pt;">Home</h1>

    <!-- Account Stuff -->

    <hr>

    <!-- Forum Postings -->
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h2 style="text-align: center; font-weight: bolder; font-size: 30pt;">Posts</h2>
        <a th:href="@{/createPost}">
            <button>Create new Forum Post</button>
        </a>
        <br>
        <table style="font-size: 20pt;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post: ${ForumPost}">
                    <td th:text="${post.postID}">post_id</td>
                    <td><a th:href="@{/post/{postID}(postID=${post.postID})}" th:text="${post.title}"></a></td>
                    <td th:text="${post.authorID != 0 ? homeFormController.getAuthorUsername(post.authorID) : 'Unknown'}">post_author</td>
                    <td>
                        <div>
                            <a th:href="@{/editPost/{postID}(postID=${post.postID})}">
                                <button style="background-color: lightgreen">Edit</button>
                            </a>
                            <a th:href="@{/deletePost/{postID}(postID=${post.postID})}">
                                <button style="background-color: lightcoral">Delete</button>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <!-- Logout button -->
    <a th:href="@{/}">
        <button>Logout</button>
    </a>
    
</body>
</html>
