<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login to MentorConnect</h1>
    
    <form action="/home" method="post">

        <label>Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label>Password:</label>
        <input type="password" id="password" name="password" required><br>

        <!-- <label>Role:</label>
        <input type="radio" name="role" value="Mentor" checked> Mentor
        <input type="radio" name="role" value="Mentee"> Mentee<br> -->

        <button type="submit">Log In</button>
    </form>

    <a th:href="@{/signup}">
        <button>Sign Up</button>
    </a>

    <!-- <div id="selectedRole" class="selected-role"></div>

    <script>
        function validateForm() {
            var role = document.querySelector('input[name="role"]:checked').value;
            var selectedRoleDiv = document.getElementById('selectedRole');
            selectedRoleDiv.innerHTML = "Selected Role: " + role;
            return true;
        }
    </script> -->
</body>
</html>
